# Python stuff
*.pyc
__pycache__

# macOS
.DS_Store

# Python binaries
*.egg-info
dist
build

# log files
*.log*

# Virtual environment
venv
.venv
.python-version

# Visual Studio code settings
.vscode
.idea

# database
*sqlite3*
*.rdb

# cache
.pytest_cache

# settings
docker-compose.override.yml
settings.toml

static/uploads/*
